<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Scores:</h1>

        <div id="scoreContainer">
            
            {% for score in scores %}
                <p id="{{score.id}}"> {{score}} </p>
            {% endfor %}

        </div>

        <script>
            var source = new EventSource("/stream");
            source.onmessage = function(event) {
                id = event.lastEventId;
                element = document.getElementById(id);

                if (element) {
                    element.innerHTML = event.data;
                } else {
                    element = document.createElement("p");
                    element.id = id;
                    element.innerHTML = event.data;
                    document.getElementById("scoreContainer").appendChild(element)
                }

            };
        </script>

    </body>
</html>